In [2]:
from tiingo import TiingoClient

# Set TIINGO_API_KEY in your environment variables in your .bash_profile, OR
# pass a dictionary with 'api_key' as a key into the TiingoClient.

client = TiingoClient({'api_key': '3fa8b3245fa335b9c39807deb597304433fde685'})

In [6]:
import pandas as pd

In [5]:
ticker_price = client.get_ticker_price("GOOGL", frequency="weekly")

list

In [8]:
df = pd.DataFrame(ticker_price)
df

,adjClose,adjHigh,adjLow,adjOpen,adjVolume,close,date,divCash,high,low,open,splitFactor,volume
0,1412.92,1434.51,1385.8,1425.86,1833756,1412.92,2020-06-12T00:00:00+00:00,0.0,1434.51,1385.8,1425.86,1.0,1833756

In [14]:
ticker_history_RDSB = client.get_dataframe("RDS-A")
ticker_history_RDSB

,adjClose,adjHigh,adjLow,adjOpen,adjVolume,close,divCash,high,low,open,splitFactor,volume
date,,,,,,,,,,,,
2020-06-12 00:00:00+00:00,34.45,35.12,33.69,34.83,6520222,34.45,0.0,35.12,33.69,34.83,1.0,6520222